@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
li,
ul,
ol {
  list-style: none;
}
.wrapper {
  display: grid;
  width: 100%;
  .container {
    display: flex;
    justify-content: center;
    height: 900px;
    background-image: url(/img/fruit.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    header {
      width: 100%;
      max-width: 1352px;
      padding: 46px 0;
      h1 {
        margin-top: 105px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Fraunces";
        color: #fff;
        font-weight: 900;
        font-size: 56px;
        line-height: 70px;
        letter-spacing: 9px;

        img {
          margin-top: 90px;
        }
      }
      .nav {
        height: 56px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label,
        input {
          display: none;
        }
        ul {
          font-family: " Barlow";
          font-weight: 600;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #fff;
          gap: 47px;
          .nav_list {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 1px;
          }
          .nav-list_5 {
            font-family: "Fraunces";
            font-weight: 900;
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 1px;
            width: 140px;
            height: 55px;
            color: #24303e;
            background: #fff;
            text-align: center;
            padding: 16px 0;
            border-radius: 30px;
            &:hover {
              cursor: pointer;
              background: rgb(80, 132, 230);
              color: #fff;
            }
          }
        }
      }
    }
  }
  .box {
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 600px;
    .text {
      padding: 158px 0 0 165px;
      width: 720px;
      .name {
        font-family: "Fraunces";
        color: #24303e;
        font-weight: 900;

        font-size: 40px;
        line-height: 50px;
        width: 445px;
        height: 98px;
      }
      p {
        margin-top: 30px;
        color: #808397;
        font-family: " Barlow";
        font-weight: 600;
        line-height: 30px;
        font-size: 18px;
        width: 445px;
        height: 90px;
      }
      h4 {
        margin-top: 40px;
        position: relative;
        &:hover::after {
          cursor: pointer;
          opacity: 1;
        }
      }
      h4::after {
        position: absolute;
        content: "";
        opacity: 25%;
        border-radius: 20px;
        top: 10px;
        left: -7px;
        width: 137px;
        height: 10px;
        background: #fad400;
      }
    }
  }
  .box_2 {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 600px;
    .text_2 {
      padding: 158px 0 0 110px;
      width: 720px;
      .name {
        font-family: "Fraunces";
        color: #24303e;
        font-weight: 900;

        font-size: 40px;
        line-height: 50px;
        width: 445px;
        height: 98px;
      }
      p {
        margin-top: 30px;
        color: #808397;
        font-family: " Barlow";
        font-weight: 600;
        line-height: 30px;
        font-size: 18px;
        width: 445px;
        height: 90px;
      }
      h4 {
        margin-top: 40px;
        position: relative;
        &:hover::after {
          cursor: pointer;
          opacity: 1;
        }
      }
      h4::after {
        position: absolute;
        content: "";
        opacity: 25%;
        border-radius: 20px;
        top: 10px;
        left: -7px;
        width: 137px;
        height: 10px;
        background: #fe7766;
      }
    }
  }
  .box_3 {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1440px;
    .cherry {
      padding: 398px 190px 59px 190px;
      width: 100%;
      max-width: 720px;
      height: 600px;
      background-image: url(/img/Cherry.svg);
      background-repeat: no-repeat;
      text-align: center;
      h3 {
        font-family: "Fraunces";
        color: #24554a;
        font-size: 28px;
        line-height: 35px;
        font-weight: 900;
      }
      p {
        margin-top: 30px;
        color: #3e7467;
        width: 339px;
        font-family: " Barlow";
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
      }
    }
    .mandarn {
      padding: 398px 190px 59px 190px;
      width: 100%;
      max-width: 720px;
      height: 600px;
      background-image: url(/img/mandarin.svg);
      background-repeat: no-repeat;
      h3 {
        text-align: center;
        font-family: "Fraunces";
        color: #24554a;
        font-size: 28px;
        line-height: 35px;
        font-weight: 900;
      }
      p {
        text-align: center;
        margin-top: 30px;
        color: #3e7467;
        width: 339px;
        font-family: " Barlow";
        font-size: 16px;
        font-weight: 600;
        line-height: 27px;
      }
    }
  }
  .infornation {
    margin: 0 auto;
    margin-top: 160px;
    width: 100%;
    h1 {
      color: #a7aaad;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .info_tex {
      margin: 0 auto;
      margin-top: 90px;
      width: 1110px;
      height: 457px;
      display: flex;
      justify-content: center;
      gap: 20px;
      .emily {
        width: 350px;
        text-align: center;
        p {
          margin-top: 58px;
          color: #5b636d;
          font-family: " Barlow";
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
        }
        h2 {
          margin-bottom: 8px;
          margin-top: 69px;
          font-family: "Fraunces";
          color: #24303e;
          font-weight: 900;
          font-size: 18px;
          line-height: 23px;
        }
        span {
          color: #5b636d;
          font-family: " Barlow";
          font-size: 14px;
          font-weight: 600;
          line-height: 25px;
        }
      }
      .thomas {
        width: 350px;
        text-align: center;
        p {
          margin-top: 58px;
          color: #5b636d;
          font-family: " Barlow";
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
        }
        h2 {
          margin-bottom: 8px;
          margin-top: 69px;
          font-family: "Fraunces";
          color: #24303e;
          font-weight: 900;
          font-size: 18px;
          line-height: 23px;
        }
        span {
          color: #5b636d;
          font-family: " Barlow";
          font-size: 14px;
          font-weight: 600;
          line-height: 25px;
        }
      }
      .jennei {
        width: 350px;
        text-align: center;
        p {
          margin-top: 58px;
          color: #5b636d;
          font-family: " Barlow";
          font-size: 18px;
          font-weight: 600;
          line-height: 30px;
        }
        h2 {
          margin-bottom: 8px;
          margin-top: 69px;
          font-family: "Fraunces";
          color: #24303e;
          font-weight: 900;
          font-size: 18px;
          line-height: 23px;
        }
        span {
          color: #5b636d;
          font-family: " Barlow";
          font-size: 14px;
          font-weight: 600;
          line-height: 25px;
        }
      }
    }
  }
  .fotr_img {
    display: flex;
    .foto_1 {
      display: flex;
    }
    .foto_2 {
      display: flex;
    }
    margin: 0 auto;
    margin-top: 50px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;

    height: 350px;
    background: #90d4c6;
    .footer {
      width: 300px;
      height: 206px;
      .nav {
        text-align: center;
        ul {
          font-family: " Barlow";
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          margin-top: 40px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #458d7e;
          .nav_list {
            &:hover {
              cursor: pointer;
              color: #fff;
            }
          }
        }
      }
      .icon {
        margin-top: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 28px;
        svg {
          &:hover {
            cursor: pointer;
            path {
              fill: #fff;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    margin: 0 auto;
    width: 375px;
    .container {
      width: 375px;
      height: 538px;
      background-image: url(/img/fruit.svg);
      background-size: cover;
      margin: 0 auto;
      header {
        position: relative;
        padding: 32px 0;
        width: 327px;
        .nav {
          label {
            display: block;
          }
          ul {
            display: none;
            width: 329px;
            height: 305px;
            background: #fff;
            li {
              display: flex;
              justify-content: center;
              font-size: 20px;
              line-height: 25px;
              color: #808397;
            }
            .nav-list_5 {
              // text-align: center;
              // display: flex;
              // justify-content: center;
              // align-items: center;
              background: yellow;
            }
          }

          input:checked + ul {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            position: absolute;

            top: 80px;
          }
        }
        h1 {
          text-align: center;
          margin-top: 88px;
          width: 327px;
          font-size: 40px;
          line-height: 50px;
          img {
            width: 30px;
            height: 100px;
            margin-top: 42px;
          }
        }
      }
    }
    .box {
      flex-direction: column-reverse;
      height: 730px;
      width: 375px;
      .text {
        width: 375px;
        padding: 64px 24px;
        .name {
          height: 70px;
          text-align: center;
          width: 327px;
          font-size: 32px;
          line-height: 32px;
        }
        p {
          width: 327px;
          height: 150px;
          text-align: center;
        }
        h4 {
          margin-top: 20px;
          text-align: center;
        }
        h4::after {
          content: "";
          left: 90px;
        }
      }
      .imgs {
        img {
          width: 375px;
          height: 312px;
        }
      }
    }
    .box_2 {
      flex-wrap: wrap;
      height: 730px;
      width: 375px;
      .imgs_2 {
        img {
          width: 375px;
          height: 312px;
        }
      }
      .text_2 {
        width: 375px;
        padding: 64px 24px;
        .name {
          height: 70px;
          text-align: center;
          width: 327px;
          font-size: 32px;
          line-height: 32px;
        }
        p {
          height: 150px;
          width: 327px;
          text-align: center;
        }
        h4 {
          margin-top: 20px;
          text-align: center;
        }
        h4::after {
          content: "";
          left: 90px;
        }
      }
    }
    .box_3 {
      // display: flex;
      flex-wrap: wrap;
      width: 375px;
      height: 1200px;
      .cherry {
        width: 375px;
        background-size: 150% 150%;
        padding: 398px 24px 59px 24px;
      }
      .mandarn {
        width: 375px;
        background-size: 150% 150%;
        padding: 398px 24px 59px 24px;
      }
    }
    .infornation {
      margin-top: 64px;
      width: 375px;
      height: 1118px;
      h1 {
        font-size: 16px;
      }
      .info_tex {
        width: 375px;
        margin-top: 60px;
        display: grid;
        .emily {
          width: 327px;
          height: 288px;
          p {
            margin-top: 32px;
          }
          h2 {
            margin-top: 32px;
          }
        }
        .thomas {
          margin-top: 64px;
          width: 327px;
          p {
            margin-top: 32px;
          }
          h2 {
            margin-top: 32px;
          }
        }
        .jennei {
          margin-top: 64px;
          width: 327px;
          p {
            margin-top: 32px;
          }
          h2 {
            margin-top: 32px;
          }
        }
      }
    }
    .fotr_img {
      margin-top: 86px;
      width: 375px;
      height: 375px;
      display: grid;
      .foto_1 {
        img {
          height: 100%;
          width: 188px;
        }
      }
      .foto_2 {
        img {
          height: 100%;
          width: 188px;
        }
      }
    }
    footer {
      margin-top: 90px;
    }
  }
}
